### import libraries : 
* Images have to be converted to .mat files , so use scipy.io
* TQDM for reporting progress(https://github.com/tqdm/tqdm)
* CV2 or Open CV as image libary(http://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_gui/py_image_display/py_image_display.html)

In [17]:
from tqdm import tqdm
import numpy as np
import scipy.io
import cv2
import pandas as pd

### Setup Paths

In [2]:

meta_data_file = '/media/deepak/New Volume/Data_POC/imdb_meta/imdb.mat'

### Read the meta data file and examine one row of  it

In [3]:
import scipy.io
mat = scipy.io.loadmat(meta_data_file)

In [4]:
mat.keys()

dict_keys(['__header__', '__version__', '__globals__', 'imdb'])

In [5]:
imdb_data= mat['imdb'] 
imdb_data.dtype

dtype([('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O'), ('celeb_names', 'O'), ('celeb_id', 'O')])

In [7]:
imdb_dtype=imdb_data.dtype

In [8]:
ndata = {n: imdb_data[n][0, 0] for n in imdb_dtype.names}

In [9]:
ndata['celeb_names']

array([[array(["'Lee' George Quinones"], dtype='<U21'),
        array(["'Weird Al' Yankovic"], dtype='<U19'),
        array(['2 Chainz'], dtype='<U8'), ...,
        array(['Éric Caravaca'], dtype='<U13'),
        array(['Ólafur Darri Ólafsson'], dtype='<U21'),
        array(['Óscar Jaenada'], dtype='<U13')]], dtype=object)

In [10]:
columns = [n for n, v in ndata.items()]

In [11]:
columns

['dob',
 'photo_taken',
 'full_path',
 'gender',
 'name',
 'face_location',
 'face_score',
 'second_face_score',
 'celeb_names',
 'celeb_id']

In [12]:
type(ndata)

dict

In [13]:
meta_data_df = pd.DataFrame({'dob':ndata['dob'].transpose().tolist(),
                   'full_path':ndata['full_path'].transpose().tolist(),
                   'gender':ndata['gender'].transpose().tolist(),
                   'face_location':ndata['face_location'].transpose().tolist(),
                   'face_score':ndata['face_score'].transpose().tolist() ,
                   'second_face_score':ndata['second_face_score'].transpose().tolist() })

In [15]:
meta_data_df.head()

,dob,face_location,face_score,full_path,gender,second_face_score
0,[693726],"[[[1072.926, 161.838, 1214.7839999999999, 303....",[1.4596929136202572],[[01/nm0000001_rm124825600_1899-5-10_1968.jpg]],[1.0],[1.1189733571573068]
1,[693726],"[[[477.184, 100.352, 622.592, 245.76]]]",[2.5431975987694435],[[01/nm0000001_rm3343756032_1899-5-10_1970.jpg]],[1.0],[1.852007728341101]
2,[693726],"[[[114.96964308962852, 114.96964308962852, 451...",[3.455579487909806],[[01/nm0000001_rm577153792_1899-5-10_1968.jpg]],[1.0],[2.9856602160994425]
3,[693726],"[[[622.8855056426588, 424.21750383700805, 844....",[1.872117169344902],[[01/nm0000001_rm946909184_1899-5-10_1968.jpg]],[1.0],[nan]
4,[693726],"[[[1013.8590023603723, 233.8820422075853, 1201...",[1.1587657871914132],[[01/nm0000001_rm980463616_1899-5-10_1968.jpg]],[1.0],[nan]

In [16]:
meta_data_df.to_csv('meta_data_imdb.csv')